body
{
	background-image: url(MBG1.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-position: center center;
  	background-size: cover;
}
h1
{
	color: white;
	height:200px;
	font-family: Georgia;
  	font-size: 600%;
	text-align: center;
	text-shadow: 2px 2px #333300;
}
p
{
	color: white;
	text-align: justify;
	font-family: Garamond;
	font-size: 150%;
}
button
{
	background-color: #cc9900;
  	color: white;
	text-shadow: 2px 2px #333300;
  	border: 1px solid white;
	font-family: Garamond;
	font-size: 200%;
	height:100px;
	width: 523px;
}
