body
{
	background-image: url(MBG1.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-position: center center;
  	background-size: cover;
}
h1
{
	color: Black;
	text-align: center;
	font-family: Lucida Handwriting;
  	font-size: 300%;	
}
