body
{
	background-image: url(MBG1.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
	background-position: center center;
  	background-size: cover;
}
h1
{
	color: Black;
	text-align: center;
	font-family: Georgia;
  	font-size: 600%;	
}
p
{
	color: Black;
	text-align: justify;
	font-family: Garamond;
}
button
{
	background-color: #99ff99;
  	color: black;
  	border: 1px solid black;
	width: 250px;
	height: 50%;
	button:hover;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
	float: left;
	Text-align: center;
}

