body
{
	background-image: url(nymph.jpg);
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: center center;
  background-size: cover;
}
h1
{
	color: white;
	height:200px;
	font-family: Lucida Handwriting;
  font-size: 400%;
	text-align: center;
	text-shadow: 2px 2px #333300;
}
p
{
	color: white;
	text-align: justify;
	font-family: Garamond;
	font-size: 150%;
}
